html {
  scroll-behavior: smooth;
}

body {
  background-color: #223240;
  height: auto;
 /* background-image: url(../assets/backgrounds.png);*/
  
}

footer {
  width: 100%;
  height: 200px;
}

/*Navigation Styles*/
li {
  font-size: 10px;
  font-family: 'Biryani', sans-serif;
  list-style: none;
}

.backgroundStuff {
  /*background-image: url(../assets/backgrounds.png);*/
  width: 100%;
  height: auto;
  box-shadow: 0 0 5px 30px #223240;
}
@font-face {
  font-family: Nazare;
  src: url(../assets/fonts/NAZARE.OTF);
}
nav {
  width: auto !important;
  height: 40px !important;
  padding-bottom: 20px;
  padding-top: 30px;
  background-color: #223240;
  box-shadow: 0 0 5px 30px #223240;
  position: fixed;

}

.socialMediaResp {
  display: none;
}

#navLogo {
  width:60px;
  height: auto;
  margin-top: 20px;
}

.navbar-inner {
  min-height: 0 !important;
}

a.nav-link {
  margin-top: 35px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Biryani', sans-serif;
  color: #f73b77;
}

#soIcon {
  color: #f73b77 !important;
  font-size: 18x;
  margin-top: 2px;
}

#socialMediaResp {
  display: none;
}
/* Main body styles */
.other {
  float: left;
  margin-left: 10px;
  text-align: left;
}

.name {
  text-align: center;
}

h1 {
  font-family: 'Nazare', Arial, Helvetica, sans-serif;
  color: #f73b77;
}

h2 {
  font-family: 'Nazare', Arial, Helvetica, sans-serif;
  color: #f73b77;
}

h3 {
  font-family: 'Nazare', Arial, Helvetica, sans-serif;
  color: #f73b77;
}

h4 {
  font-family: 'Nazare', Arial, Helvetica, sans-serif;
  color: #f73b77;
  text-decoration: none;
}

.logo {
  height: 50%;
  max-width: 50%;
  display: block;
}

.subBody {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  width: 100%;
}

.subBody:after {
  padding-bottom: 100%;
}

header {
  position: fixed !important;
  top: 0 !important;
  z-index: 1 !important;
  width: 100% !important;
}

/* Resume Styles */
p {
  color: #f73b77;
  font-family: 'Roboto', sans-serif;
}

#salutation {
  font-family: 'Nazare', Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 10px;
}

#contactMe {
  background-color: #223240;
  padding-bottom: 30px;
  box-shadow: 0 0 5px 30px #223240;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
}

#mainContent {
  background-color: #223240;
  box-shadow: 0 0 5px 30px #223240;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
}

#topLogo {
  width: 400px;
  height: auto;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#portraitImage {
  width: 400px;
  height: auto;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#footerText {
  text-align: center;
  font-size: 8px;
}

#currentProjects {
  border-style: solid;
  border-color: #f73b77;
  border-width: 2px;
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  display: block;
}

@media screen and (max-width: 718px) {

  nav {
    width: auto !important;
    height: 40px !important;
    padding-bottom: 20px;
    padding-top: 30px;
    background-color: #223240;
    box-shadow: 0 0 5px 30px #223240;
    position: fixed;
    text-align: center;
  
  }

  #socialMediaResp {
  position: fixed;
  display: block;
  bottom: 0;
  min-width: 100%;
  height: 70px;
  background-color: #223240;
  box-shadow: 0 0 5px 30px #223240;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 
  }

  .socialMedia {
    display: none;
  }

  #soIconResp {
    color: #f73b77 !important;
    font-size: 18px;
    margin-right: 25px !important;
    
  }

#musicBox {
  border: 0; 
  width: 350px; 
  height: 470px; 
  margin-top: 40px; 
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#musicBoxResp {
  display: block;
  border: 0; 
  width: 170px; 
  height: 170px;
  margin-left: 60px;
}

#musicBox {
  display: none;
}

#musicLink {
  display: none;
}

}

.vincitBackground {
  background-color: #414141;
}
#vincitBack {
  width: 400px;
  height: auto;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}



@font-face {
  font-family: Prospectus;
  src: url(/assets/fonts/ProspectusStdBlk.otf);
}



.container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.badge {
  margin-top: 30px;
}


/* Portfolio */

.portImage {
  width: 600px;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Resume-Specific Styles */

.workDate {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px !important;
  height: auto;
}

#mainResumeContent {
  background-color: #223240;
  box-shadow: 0 0 5px 30px #223240;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 300px;
}

#certImg {
  width: 150px;
  margin-bottom: 30px;
  height:auto;
}

#certCont {
  display: block;
  float: left;
  margin-left: 50px;
}

#bothCertImg {
  margin-top: 50px;
  margin-left: 200px;
  display: block;
}

#edu {
  margin-top: 50px;
}

#cert {
  margin-top: 50px;
}

#downArrow {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

#profExpTitle {
  margin-bottom:50px;
}

/* Music Page styles */
#musicBoxContainer{
  display: block;
  width: 75%; 
  height: auto;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 100px;
  background-color: #223240;
  box-shadow: 0 0 5px 30px #223240;
  overflow: visible;
 
}

#musicBox {
  display: block;
  border: 0; 
  width: 100%; 
  height: 120px;
  margin-left: 60px;
}

#musicBoxResp {
  display: none;
}

.musicTitle {
  display:block;
  text-align: center;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  width: 500px;
  height: auto;
}

/* Portfolio styles */
#portItem {
margin-bottom: 50px;
}

#portfolioBody {
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  
}

#portItemModal {
  width: 100%;
}

#ResumeLi {
  color: #f73b77 
}

